/*style.css*/
body {
    font-family: Courier New;
    padding: 20px;
    text-align: center;
}
h1, h2 {
    justify-content: center;
}
input, button {
    font-size: 16px;
    margin: 5px;
}
.section {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px auto;
    max-width: 600px;
}
h3 {
    margin-bottom: 5px;
}
ul {
    max-height: 200px;
    overflow: auto;
}

.done {
    text-decoration: line-through;
    color: gray;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
input[type="number"] {
	width: 50px;
	text-align: center;
}

#deleteMoney:hover {
    background-color: red;
    color: white;
}
